
*.dll
*.pdb
/Content
/obj
/packages
/bin/Debug/*
/bin/Release/*
!bin/Release/*.bhm
.vs/Gw2Archipelago/v16/.suo
bin/Release/Gw2Archipelago.bhm
.vs/Gw2Archipelago/v16/.suo
Gw2Archipelago (0.1.0_bugfixes).bhm
bin/Release/Gw2Archipelago.bhm
/.vs/Gw2Archipelago/CopilotIndices
/.vs
.vs/Gw2Archipelago/v17/.suo
